.order-details-container {
    padding: 20px;
    background-color: #f0f8f4; /* Light green background */
  }
  
  .back-button {
    margin: 10px 0;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .food-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
  }
  
  .food-image {
    width: 80px; /* Adjust the size of food images */
    height: auto;
    border-radius: 5px;
  }
  
  .food-info {
    flex-grow: 1;
    margin-left: 10px;
  }
  
  .delete-button {
    background-color: #ff4d4d; /* Red color for delete button */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .checkout-button {
    background-color: #0288d1; /* Button color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  