.payment-container {
    padding: 20px;
    background-color: #f0f8f4; /* Light green background */
  }
  
  .back-button {
    background-color: #0288d1; /* Button color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px; /* Space below the button */
  }
  
  .payment-options {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Space below payment options */
  }
  
  .payment-button {
    background-color: #ffffff; /* White background for payment options */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #0288d1; /* Border color */
    border-radius: 5px;
    cursor: pointer;
  }
  
  .next-button {
    background-color: #0288d1; /* Button color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  