.profile-photo-upload-container {
    padding: 20px;
    background-color: #f0f8f4; /* Light green background */
  }
  
  .back-button {
    background-color: #ff5722; /* Back button color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px; /* Space below the button */
  }
  
  .select-gallery-button,
  .take-photo-button,
  .next-button {
    background-color: #0288d1; /* Button color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0; /* Space between buttons */
    width: 100%; /* Full width buttons */
  }
  