.profile-setup-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f8f4; /* Light green background */
    text-align: center;
  }
  
  .back-button {
    align-self: flex-start;
    margin: 20px;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .input-section {
    width: 300px; /* Fixed width for inputs */
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h2 {
    margin: 20px 0;
  }
  
  .role-button {
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4caf50; /* Green button */
    color: white;
  }
  